<h1 class="text-center">Add Actor</h1>

<form
  action="#"
  th:action="@{/add-actor}"
  method="post"
  enctype="multipart/form-data"
  class="form-group"
>
  <input
    class="form-control my-3"
    type="text"
    name="name"
    placeholder="name"
    required
  />
  <input
    class="form-control my-3"
    type="number"
    name="birthYear"
    placeholder="birth year"
    required
    min="1800"
  />
  <input
    class="btn btn-primary my-3 mx-auto w-fit-content d-block"
    type="submit"
    value="Submit"
  />
</form>
