<h1 class="text-center mt-5">Order tickets</h1>
<h5 class="text-center mb-2">$10.00/ticket</h5>
<form
  action="#"
  th:action="@{'/seance/' + ${seance.id}}"
  method="post"
  enctype="multipart/form-data"
  class="form-group"
  id="order-form"
>
  <label for="seats" class="form-label fw-bold">Seats</label>
  <select
    class="form-control mb-3"
    name="seats"
    required
    multiple
    id="order-seats"
  >
    <option
      th:each="availableSeat: ${availableSeats}"
      th:value="${availableSeat}"
      th:text="${availableSeat}"
    ></option>
  </select>
  <label for="name" class="form-label fw-bold">Name and lastname</label>
  <input
    class="form-control mb-3"
    type="text"
    name="name"
    placeholder="name"
    required
  />
  <label for="email" class="form-label fw-bold">Email</label>
  <input
    class="form-control mb-3"
    type="email"
    name="email"
    placeholder="email"
    required
  />
  <input
    id="order-btn"
    class="btn btn-primary w-fit-content d-block mx-auto my-3"
    value="Order"
  />
</form>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
  const orderForm = document.getElementById("order-form");
  const orderBtn = document.getElementById("order-btn");

  const onSubmit = () => {
    const selectElement = document.getElementById("order-seats");
    const selectedOptions = selectElement.options;
    const selectedValues = [];
    for (let i = 0; i < selectedOptions.length; i++) {
      if (selectedOptions[i].selected) {
        selectedValues.push(selectedOptions[i].value);
      }
    }
    const ticketsAmount = selectedValues.length;
    const totalPrice = ticketsAmount * 10;
    Swal.fire({
      title: "Make the payment",
      text: "Total price: $" + totalPrice,
      icon: "warning",
      showCancelButton: true,
      confirmButtonColor: "#3085d6",
      cancelButtonColor: "#d33",
      confirmButtonText: "Pay",
    }).then((result) => {
      if (result.isConfirmed && orderForm.checkValidity()) {
        orderForm.submit();
      }
    });
  };

  orderBtn.addEventListener("click", onSubmit);
</script>
