<h1 class="text-center mt-5">Seance</h1>
<h5 th:text="${'Room: ' + seance.room}"></h5>
<div class="d-flex justify-content-between">
  <h2 th:text="${seance.date}"></h2>
  <h2 th:text="${seance.time}"></h2>
</div>

<div class="py-2 w-75 d-block mx-auto bg-dark text-white mt-3 mb-5 text-center">
  SCREEN
</div>

<div
  th:each="row, rowIdx : ${seats}"
  class="d-flex justify-content-center align-items-center hallRow"
>
  <div th:text="${rowIdx.index}" class="fw-bold mx-2"></div>

  <div th:each="seat, seatIdx : ${row}" class="me-2">
    <div
      th:if="${seat}"
      class="bg-danger hallSeat"
      th:text="${seatIdx.index}"
    ></div>
    <div
      th:unless="${seat}"
      class="bg-success hallSeat"
      th:text="${seatIdx.index}"
    ></div>
  </div>
</div>
