<button class="btn btn-primary mb-5" routerLink="/">&#8592; Home</button>

<h2 class="text-2xl font-bold text-center">Statistics</h2>

<div class="flex justify-between items-center p-2 my-3 flex-wrap">
  <h2 class="text-2xl font-bold">{{ date | date }}</h2>
  <form [formGroup]="dateForm" (ngSubmit)="onSubmit()" class="join">
    <input
      type="date"
      class="input input-bordered join-item"
      formControlName="date"
    />
    <button
      class="btn btn-primary join-item"
      type="submit"
      [disabled]="!dateForm.valid"
    >
      Submit
    </button>
  </form>
</div>

<table class="table">
  <thead>
    <tr>
      <th scope="col" class="w-1/2">Movie</th>
      <th scope="col" class="w-1/2">Income</th>
    </tr>
  </thead>
  <tbody>
    @for (movie of statistics.moviesStatistics| keyvalue; track $index) {
    <tr class="hover">
      <td class="w-1/2">{{ movie.key }}</td>
      <td class="w-1/2">{{ movie.value * 10 | currency }}</td>
    </tr>
    }
  </tbody>
</table>

<div class="stats my-3">
  <div class="stat pl-0">
    <div class="stat-title">Total Income</div>
    <div class="stat-value">
      {{ statistics.totalIncome | currency }}
    </div>
  </div>
</div>
